<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        The use of our Content Management System (CMS) is subject to the
        following terms and conditions. By accessing or using the CMS, users
        agree to be bound by these terms. User registration may be required, and
        users are responsible for maintaining the confidentiality of their
        account information. While users retain ownership of their content, they
        grant necessary licenses for the CMS operation. Prohibited content
        includes illegal, offensive, or copyrighted material. Users must conduct
        themselves responsibly, refraining from disruptive or harmful
        activities.
      </p>
      <p>
        The CMS employs security measures, and users are encouraged to
        prioritize their account security. Data privacy is crucial, and user
        data is handled in accordance with relevant data protection laws. The
        CMS upholds intellectual property rights, and users are expected to
        respect trademarks, copyrights, and patents. Account termination may
        occur under specified conditions, such as terms violations. The terms
        may be modified with notice. Disclaimers address the accuracy and
        reliability of CMS content.
      </p>
      <div class="text-center">
        <button
          class="btn btn-info btn-sm mt-4 btn-theme"
          (click)="navigateToHome()"
        >
          Back to home
        </button>
      </div>
    </div>
  </div>
</section>
