<!-- <!-- <div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Content Details</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="onCloseClick()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      [src]="data.image"
      alt="Content Image"
      class="fixed-image"
      style="height: 200px; width: 200px"
    />
    <h5 class="card-title">{{ data.description }}</h5>
    <p class="card-text">Author: {{ data.author }}</p>
    <p class="card-text">Date: {{ data.date }}</p>
    <p class="card-text">{{ data.content }}</p>
    <p class="card-text">Content Type: {{ data.selectedContentType }}</p>
  </div>
</div> -->
