<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center display-5">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p class="text-theme-primary fs-16 fw-bold">
        Welcome to our Content Management System (CMS)! We are passionate about
        providing a user-friendly platform to help you manage your digital
        content effortlessly.
      </p>

      <p class="text-theme-primary fs-14">
        <strong>Our Mission:</strong> At Euromonitor, our mission is to empower
        individuals and businesses by offering a robust and intuitive CMS that
        streamlines the process of content creation, organization, and
        publication.
      </p>

      <div class="mb-4">
        <strong class="fs-14">What Sets Us Apart:</strong>
        <ul class="list-unstyled text-muted fs-14">
          <li>
            <strong>User-Friendly Interface:</strong> Our CMS is designed with
            simplicity in mind.
          </li>
          <li>
            <strong>Powerful Features:</strong> We offer a comprehensive set of
            features to meet your content management needs.
          </li>
          <li>
            <strong>Scalability:</strong> Whether you're managing a personal
            blog or a large enterprise website, our CMS is built to scale.
          </li>
        </ul>
      </div>

      <p class="text-info fs-14">
        <strong>Meet the Team:</strong> Behind every successful platform is a
        dedicated team. Our team is composed of talented individuals passionate
        about technology, design, and creating exceptional user experiences.
        We're here to support you every step of the way.
      </p>

      <div class="row mt-4">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="assets/images/staff1.jpg"
              class="card-img-top"
              alt="Staff Member 1"
              style="height: 300px"
            />
            <div class="card-body">
              <h5 class="card-title">Isabella</h5>
              <p class="card-text">Lead Developer</p>
              <p class="card-text">Contact: isa@staff.com</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="assets/images/staff3.jpg"
              class="card-img-top"
              alt="Staff Member 2"
              style="height: 300px"
            />
            <div class="card-body">
              <h5 class="card-title">Jane Smith</h5>
              <p class="card-text">UX/UI Designer</p>
              <p class="card-text">Contact: jane.smith@staff.com</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="assets/images/staff2.jpg"
              class="card-img-top"
              alt="Staff Member 2"
              style="height: 300px"
            />
            <div class="card-body">
              <h5 class="card-title">Aurora</h5>
              <p class="card-text">Marketing Specialist</p>
              <p class="card-text">Contact: aurora@staff.com</p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-info fs-5">
        Contact us: Have questions, suggestions, or need assistance? Don't
        hesitate to reach out to our support team. We value your feedback and
        are committed to continuously improving our platform.
      </p>

      <p class="text-info fs-5">
        Thank you for choosing Euromonitor International for your content
        management needs. We look forward to helping you bring your digital
        content to life! Happy Content Managing!
      </p>

      <div class="text-center">
        <button
          class="btn btn-info btn-sm mt-4 btn-theme"
          (click)="navigateToHome()"
        >
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
